<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Template</title>
    {% from 'bootstrap5/form.html' import render_form %}
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
</head>
<body>
    <div class="container">
        <div class="d-flex align-items-center justify-content-center min-vh-100" >
            <div class="grid gap-4">
                <h1 class="g-1">Авторизация</h1>
                <form class="g-1" method="post">
                {{ render_form(form) }}
                </form>
                <div class="text-center">
                    <h6 class="mt-3">Нет аккаунта?</h6>
                    <a href="{{ url_for('auth.register') }}">Зарегестрируйся</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>