<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block navbar %}
    <!-- Nav Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">My Flask Project</p>
        </div>
        <ul class="nav navbar-nav">
          {% if current_user.is_authenticated %}
            <a class="btn rounded-4 btn-toolbar btn-danger" href="{{ url_for('auth.logout') }}"> Выйти </a>
          {% else %}
            <a class="btn rounded-4 btn-toolbar btn-success" href="{{ url_for('auth.login') }}"> Авторизоваться </a>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>